html {
background-color: #042b6b;
}

header {
color:white;
text-align: center;
margin-top: 75px;
font-size: 32px;
    font-family: "Cormorant SC", serif;
}

canvas {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

